---
# Only the main Sass file needs front matter (the dashes are enough)
---

// SASS Colors 

$color-primary-0: #005B0B;	// Main Primary color */
$color-primary-1: #289336;
$color-primary-2: #11771E;
$color-primary-3: #003E08;
$color-primary-4: #002104;

$color-secondary-1-0: #014147;	// Main Secondary color (1) */
$color-secondary-1-1: #216C73;
$color-secondary-1-2: #0F575D;
$color-secondary-1-3: #002C30;
$color-secondary-1-4: #00181A;

$color-secondary-2-0: #466D00;	// Main Secondary color (2) */
$color-secondary-2-1: #82B030;
$color-secondary-2-2: #638E15;
$color-secondary-2-3: #304A00;
$color-secondary-2-4: #192700;

$color-complement-0: #750600;	// Main Complement color */
$color-complement-1: #BD3B34;
$color-complement-2: #991D16;
$color-complement-3: #500400;
$color-complement-4: #2A0200;

// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "bootstrap-compass",
        "bootstrap-variables",
        "bootstrap",
        "syntax-highlighting"
;

.content {
  padding: 40px 15px;
}

.jumbotron {
    background-color: $color-primary-0;
}

.jumbotron .container {
    padding-top: 40px;
}

.navbar-brand {
    padding: 11px 15px 5px 15px;
}

div.navbar-brand {
    width: 28px;
    padding: 0;
    margin: 0;
}

img:not(.png) {
    width: 100%;
}