<footer class="footer">
  <div class="container">
    <div class="row text-muted">
      <div class="col-sm-4">
        Copyright &copy; {{ 'now' | date: "%Y" }}, Charlie Poole, Rob Prouse.
      </div>
      <div class="col-sm-4 text-center">
        <a rel="license" href="https://creativecommons.org/licenses/by-nc-sa/4.0/">CC BY-NC-SA 4.0 License</a>
        <a rel="license" href="https://creativecommons.org/licenses/by-nc-sa/4.0/">
          <img alt="Creative Commons License" src="https://i.creativecommons.org/l/by-nc-sa/4.0/80x15.png" />
        </a>
      </div>
      <div class="col-sm-4 text-right">
        Supported by the
        <a href="https://dotnetfoundation.org/">.NET Foundation</a>
      </div>
    </div>
  </div>
</footer>

{% include scripts.html %}
