<form action="https://www.paypal.com/cgi-bin/webscr" method="post">
    <input type="hidden" name="cmd" value="_donations">
    <input type="hidden" name="business" value="charlie@nunit.com">
    <input type="hidden" name="item_name" value="Donation in support of the NUnit project">
    <input type="hidden" name="no_shipping" value="0">
    <input type="hidden" name="no_note" value="1">
    <input type="hidden" name="currency_code" value="USD">
    <input type="hidden" name="tax" value="0">
    <input type="hidden" name="lc" value="US">
    <input type="hidden" name="bn" value="PP-DonationsBF">
    <button type="submit" name="submit" class="btn btn-success">Donate <i class="fa fa-credit-card"></i></button>
</form>